.component {
  background-color: #0f0f10;
  color: white;
  overflow: auto;
  white-space: nowrap;
}
.line {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  /* Need to specify height for .padd to display a vertical line */
  height: 20px;
  transition: background-color 0.2s ease;
}
.line:hover {
  background-color: #2f2f2f;
}
.index {
  /* Prevent element from shrinking when x overflows */
  min-width: 28px;
  width: 28px;
  padding-right: 8px;
  text-align: right;
  color: #9b9aa2;
}
.padd {
  margin-left: 6px;
  padding-left: 10px;
  border-left: 1px solid grey;
  height: 100%;
}
.func {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
}
.obj {
  color: #71aefe;
}
.funcName {
  color: #6e56cf;
}
.value {
  color: #edc389;
}
.outputs {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.arrow {
  color: #f88c6c;
  margin-left: 10px;
  margin-right: 10px;
}
