.component {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30px;
}
.level {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 40px;
  font-size: 0.7rem;
  color: var(--text-color);
  background-color: var(--bg-dim-color);
}
.buttonLeft {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 30px;
  padding: 10px;
  box-shadow: none;
  border: none;
  border-radius: 0.5rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  color: var(--text-color);
  background-color: var(--bg-dim-color);
  transition: background-color 0.1s ease;
}
.buttonLeft:hover {
  background-color: var(--bg-dim-hover-color);
}
.buttonRight {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 30px;
  padding: 10px;
  box-shadow: none;
  border: none;
  border-radius: 0.5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: var(--text-color);
  background-color: var(--bg-dim-color);
  transition: background-color 0.1s ease;
}
.buttonRight:hover {
  background-color: var(--bg-dim-hover-color);
}
