:root {
  /* TODO: move to body.light and dark */
  --bg-color: #212121;
  --bg-dim-color: #232329;
  --bg-dim-hover-color: #2e2d39;
  --text-color: #e0e0e0;
  --text-hover-color: white;
  --secondary-text-color: #a0a0a0;
  --arrow-color: #a4a4a4;
  --arrow-dim-color: rgba(255, 255, 255, 0.2);
  --arrow-in-color: rgb(145, 32, 24);
  --arrow-out-color: rgb(70, 173, 221);
  --arrow-hover-color: rgb(128, 88, 255);
  --arrow-pin-color: rgb(254, 200, 75);
  --arrow-tracer-color: #32cd32;
  --node-color: rgb(6, 44, 65);
  --node-text-color: white;
  --node-border-color: transparent;
  --node-hover-color: rgb(10, 60, 90);
  --node-hover-text-color: rgb(160, 230, 255);
  --node-hover-border-color: transparent;
  --node-dim-color: rgb(6, 44, 65, 0.3);

  --tracer-fn-color: white;
  --tracer-index-color: #9b9aa2;
  --tracer-index-hover-color: white;
  --tracer-input-value-color: #edc389;
  --tracer-output-value-color: #edc389;
  --tracer-eq-color: grey;
  --tracer-pin-color: orange;
  --tracer-func-color: white;
  --tracer-fold-color: #9b9aa2;
  --tracer-fold-hover-color: white;
  --tracer-obj-color: #71aefe;
  --tracer-func-name-color: #6e56cf;
  --tracer-arrow-color: #f88c6c;
  --tracer-dot-color: white;
  --tracer-vm-value-color: #e863e3;

  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;

  /* Disable hover on graph to flicker scrollbars */
  overflow: hidden;
}

/* Scroll for WebKit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #1e1e1e;
}
::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 8px;
  border: 2px solid #1e1e1e;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}
::-webkit-scrollbar-corner {
  background: #1e1e1e;
}

/* SVG line flow animation */
@keyframes flow {
  0% {
    stroke-dashoffset: 400;
  }

  100% {
    stroke-dashoffset: 0;
  }
}
.flow {
  /*stroke: url(#cold-gradient)*/
  stroke-dasharray: 20 10;
  animation: flow 14s linear infinite;
}

*:focus {
  outline: none;
  box-shadow: none;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

body.light {
  --bg-0-color: white;
  --bg-1-color: white;
  --bg-2-color: white;
  --text-0-color: black;
}

body.dark {
  --bg-0-color: #212121;
  --bg-1-color: #303030;
  --bg-2-color: #414141;
  --bg-dark-color: #171717;
  --text-0-color: white;
  --text-1-color: #f3f3f3;
  --text-2-color: #afafaf;
  --icon-color: #afafaf;
  --icon-hover-color: #f3f3f3;
  --copy-text-color: #edc389;
  --border-color: #414141;
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-0-color);
  color: var(--text-0-color);
}
input {
  border: 0;
  background-color: var(--bg-1-color);
  color: var(--text-0-color);
}
input::placeholder {
  color: var(--text-2-color);
}
select {
  border: 0;
  background-color: var(--bg-1-color);
  color: var(--text-0-color);
}
