.component {
  position: relative;
}
/* TODO: dark / light CSS colors */
.no_highlight {
  cursor: pointer;
  padding: 0 2px 0 2px;
  border-radius: 2px;
  /*color: #72b0ff; */
  transition:
    color 0.1s ease,
    background-color 0.1s ease;
}
.highlight {
  cursor: pointer;
  padding: 0 2px 0 2px;
  border-radius: 2px;
  background-color: #66b2ff33;
  color: #ededef;
  outline: 1px solid #66b2ffa6;
  outline-offset: -1px;
  transition:
    color 0.1s ease,
    background-color 0.1s ease;
}
.label {
  color: var(--term-color-2);
  margin-right: 4px;
}
.tooltip {
  position: absolute;
  left: 0;
  z-index: 10;
  margin-top: 0.25rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.375rem;
  border: 1px solid var(--border-color);
  background-color: var(--bg-dark-color);
  transition: all 300ms ease-in-out;
  transform: scale(0.95);
  opacity: 0;
  pointer-events: none;
}
.show {
  transform: scale(1);
  opacity: 1;
  pointer-events: auto;
}
