  :root {
    background-color: black
  }


  @keyframes flow {
    0% {
      stroke-dashoffset: 400;
    }

    100% {
      stroke-dashoffset: 0;
    }
  }

  .flow {
    /*stroke: url(#cold-gradient)*/
    stroke-dasharray: 20 10;
    animation: flow 14s linear infinite;
  }
